<!DOCTYPE html>
<html>
<head>
  <title>Learn lambda calculus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="row">
  <div class="container span6 offset3">
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/tutorial"><li>Tutorial</li></a>
        <a href="/evaluate"><li>Evaluate</li></a>
      </ul>
    </nav>
    <div class="lambda-banner"><%= image_tag "lambda-banner.gif" %></div>
    <h1>Learn lambda calculus</h1>
    <br>
    <%= yield %>
  </div>
  </div>

  <div class="footer row">
  <div class="span6 offset3">&copy; Alex Altair 2013</div>
  </div>

</body>
</html>
